<h1>Welcome to About Page</h1>

<h1 class="align-middle m-5" style="font-style:bolder; text-decoration: underline;"><%= @article.title %></h1>
<p  style= "font-size: 20px;"><%= @article.description %></p>

<div>
  <%if logged_in %>
<%= link_to "Edit", edit_article_path(@article) ,class:"btn btn-primary"%></li>
<%if current_user.admin %>
  <%= button_to "Destroy", article_path(@article), class:"btn btn-primary",method: :delete %></li>
</div>
<% end %>
<%end %>
