<div class="container">

	<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Korean Learning</h1>
        
        <p class="col-md-12 fs-4 ">
      
          Nowadays most of the youngest eager to learn Korean.Here you can experience good Korean learning.This page direct you to read all the korean related articles and also you can share your knowledge in korean using create article.
      
        </p>
    
        <%= link_to "Watch Article",articles_path,class:"btn btn-primary btn-lg mr-5"%> 
        <%if logged_in %>
        <%= link_to 'Create New Article', new_article_path , class:"btn btn-warning btn-lg"%>
   <%end%>
      </div>
    </div>

<div class="cat-top-wrap">
<div class="cat-top section" id="Top-Text-Area"><div class="widget HTML" data-version="1" id="HTML656">
<div class="widget-content">
</div>
<div class="clear"></div>
</div></div>
<div class="cat-top section" id="Top-Categories" style="display: block;
width: 100%;"><div class="widget HTML" data-version="1" id="HTML5">
<div class="widget-content">
<a href="#">

<img src="https://1.bp.blogspot.com/-zPAwndxr-E0/Wqttdt7aR-I/AAAAAAAAHwk/U9N1ELB3PcMgotwbEHZOyZ3HvUcSrl_YACLcBGAs/w850-h500-p-k-no-nu/Layer-5471-770x454.jpg">



</a>
</div>
<div class="clear"></div>
</div><div class="widget HTML" data-version="1" id="HTML4">
<div class="widget-content">
<a href="#">

<img src="https://4.bp.blogspot.com/-03UsuiMAsKo/WqttF17tOCI/AAAAAAAAHwU/1L9ejxpyvPUZFFinB64eP3lI5my5FbNhACLcBGAs/w850-h500-p-k-no-nu/Layer-546.jpg">



</a>
</div>
<div class="clear"></div>
</div><div class="widget HTML" data-version="1" id="HTML3">
<div class="widget-content">
<a href="#">

<img src="https://1.bp.blogspot.com/-fBY-keIxvnw/Wqtsu-YEFwI/AAAAAAAAHwI/KxauoshRQM4k0wHo3qOA5O9Z-I4v0kYvwCLcBGAs/w850-h500-p-k-no-nu/Layer-545.jpg">

</a>
</div>
<div class="clear"></div>
</div></div>
</div>

</div>