<h1>index page</h1>

<% @category.each do |category|%>
<div class=container>
<div class="row d-flex justify-content-center">
	<div class="col-8">

<div class="card text-center mb-5">
  <div class="card-header">
   
   <%= link_to category.name,category%>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= pluralize(category.articles.count,"Article")%></p>
  </div>
  <div class="card-footer text-muted">
    <%= category.created_at %>
  </div>
</div>
</div>
</div>
</div>
</div>

<% end%>